


<div class="row">
  <div class="col-sm-6">
    <h1>Poker Hands</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_check_path, class: 'btn btn-primary' do %>
    Add New Hand
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Hands</th>
            
          <th>Hand Name</th>
        
      </tr>
    </thead>

    <tbody>
      <% @checks.each do |check| %>
        <%= content_tag :tr, id: dom_id(check), class: dom_class(check) do %>
          

                      <td><%= check.status %></td>
                      <td><%= check.hand_name %></td>
          
          
            <td><%= link_to 'Show', check %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
